
{% extends "_errors.global-errors" %}

{% set error_code = '400' %}

{% if error_name is not defined %}
    {% set error_name = '400 - Bad Request' %}
{% endif %}

{% block image %}
    <div
        style="background-image: url({{ asset('/svg/403.svg') }});"
        class="absolute pin bg-cover bg-no-repeat md:bg-left lg:bg-center">
    </div>
{% endblock image %}


{% block error_message %}
	There was a problem understanding your request, please <a href="mailto:{{Config.get('notification_sender_email')}}">contact us</a> for assistace.
{% endblock error_message %}
