<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    <title>
        {% if page_title is defined %}
            {{page_title}}
        {% else %}
            {{ Site.config('site_name') }}
        {% endif %}
    </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/themes/site/simple_blog/css/default.css">
    <link rel="stylesheet" href="/themes/site/simple_blog/css/layout.css">
    <link rel="stylesheet" href="/themes/site/simple_blog/css/media-queries.css">

</head>

<body>

<header id="top">

    <div class="row">

        <div class="header-content twelve columns">

            <h1 id="logo-text">
                <a href="index.html" title="">
                    {{ Site.config('site_name') }}
                </a>
            </h1>
            {% if Site.config('site_description') != '' %}
                <p id="intro">{{ Site.config('site_description') }}</p>
            {% endif %}
        </div>

    </div>

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>

        <div class="row">
            <ul id="nav" class="nav">
                <li class="current"><a href="index.html">Home</a></li>
                <li class="has-children"><a href="#">Categories</a>
                    <ul>
                        {% for category in categories().where('category_group_id', 1).orderBy('category_order').get() %}
                            <li>
                                <a href="#">{{ category.category_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ URL.to('about') }}">About</a></li>
                <li><a href="{{ URL.to('privacy-policy') }}">Privacy</a></li>
            </ul> <!-- end #nav -->
        </div>

    </nav> <!-- end #nav-wrap -->

</header> <!-- Header End -->


<div id="content-wrap">

    <div class="row">

        <div id="main" class="eight columns">

            {% block main_content %}
                <p>The main_content block is empty.</p>
            {% endblock main_content %}

        </div> <!-- end main -->

        <div id="sidebar" class="four columns">

            <div class="widget widget_search">
                  <h3>Search</h3>
                  <form action="#">

                     <input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
                     <input type="submit" value="" class="submit-search">

                  </form>
               </div>

            <div class="widget widget_categories group">
                <h3>Categories</h3>
                <ul>
{% for category in categories().where('category_group_id', 1).isParent.orderBy('category_order').with('children').withCount('entries').get() %}
    <li>
        <a href="#" title="">{{ category.category_name }}</a>
        ({{ category.entries_count }})

        {% if category.children.count > 0 %}
            <ul>
                {% for child in category.children %}
                    <li>
                        <a href="#">{{ child.category_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
                </ul>
            </div>

            <div class="widget widget_popular">
               <h3>Most Recent</h3>

               <ul class="link-list">
                    {% for entry in Plugins.Element('Entries').with('fields').mostRecent(5).get() %}
                        <li><a href="{{ URL.secure('entry/' ~ entry.url_title) }}" title="">{{ entry.fields.title }}</a></li>
                    {% endfor %}
               </ul>

            </div>

        </div> <!-- end sidebar -->

    </div> <!-- end row -->

</div> <!-- end content-wrap -->



<footer>

      <div class="row">

        <div class="twelve columns">
            <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>

         <div class="twelve columns">
            <ul class="social-links">
               <li><a href="{{ URL.secure('/') }}">Home</a></li>
               <li><a href="{{ URL.secure('archives') }}">Archives</a></li>
               <li><a href="{{ URL.secure('about') }}">About</a></li>
               <li><a href="{{ URL.secure('privacy') }}">Privacy</a></li>
            </ul>
         </div>

         <p class="copyright">
            &copy; Copyright {{now|date('Y')}}. &nbsp;
            <em>Keep It Simple</em> design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a>.
        </p>

      </div> <!-- End row -->

    <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

</footer>


<script src="/js/jquery.min.js"></script>
<script src="/themes/site/simple_blog/js/main.js"></script>

</body>

</html>
